body {

  
  font-family: "Montserrat", sans-serif;
  background-color: #FEFEFF;
 
}

body {    --s: 200px; /* control the size */
  --c: #fff; /* first color */
  
  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    #1095c1; /* second color */
  background-size: var(--s) var(--s);
}


.body-container {
  border-radius: 30px;
  margin: 55px auto;
  width: 60%;
  background-color: rgb(242, 130, 132);
  padding: 50px;
  box-shadow: 0 30px 50px (rgba(65, 50, 100, 0.08));

}

header {
  
    padding: 0 0 10px 0;
}

.search-form {
  margin-left: 30px;
  padding-top: 10px;
}

.search-bar {
 
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 74%;
  border-radius: 6px;
  background-color: #FEFEFF;
}

.search-button {
  margin-left: 5px;
  font-size: 17px;
  background-color: rgb(255, 218, 73);
  font-weight: bold;
  color:#3A4664;

  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

a {
    color: rgb(234, 107, 110);
}
main {
    padding: 30px 0;
}
.weather-app-city {
  color: white;
  font-size: 54px;
  margin: 0 ;
  line-height: 48px;
}

.weather-app-details{
    font-size: 16px;
    line-height: 20px;
}
.weather-app-data {

 
  display: flex;
  justify-content: space-between;
 
}

.current-day-time {
    font-size: 28px;
    font-style: italic;
    color: #3A4664;
}

.weather-app-details {

  color:  #3A4664;

  font-weight: 500;
}

.weather-app-details strong {

    color:    #3A4664 ;
    opacity: 0.7;

    font-size: 18px;
}
.weather-app-temp-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: 900;
    color: #3A4664;
   
margin-left: 10px;
}

.weather-app-unit {

 color: #3A4664;}

.weather-app-icon {
   width: 120px;

    margin-top: 10px;

}

.weather-app-unit {
margin-top: 16px;
font-size: 28px;

}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  
}
.weather-forecast-date {
  font-size: 22px;
  color:white ;
  opacity: 0.7;
  
  font-weight: bold;

  ;
}

.weather-forecast-icon {
  width: 75%;



}


.weather-forecast-temperatures {
  font-size: 17px;
 color:  #3A4664;
}
.weather-forecast {
   display: flex;
  justify-content: space-between;
 

}
footer {
    
        
    padding: 30px 0 10px 0;
    font-size: 13px ;
    text-align: center;
    color:rgb(136, 51, 51) ;
}


